.QuanLyNguoiDung-container {
  .QuanLyNguoiDung-header {
    display: flex;
    flex-direction: column;
  }
  .QuanLyNguoiDung-title {
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    color: #6b87e6;
  }
  
}
