.ThemMoiChuyenNhuong-container {
  .ThemMoiChuyenNhuong-parent {
    .input-code {
      display: flex;
      width: 100%;
      flex-direction: row;
    }
  }
  .code-title {
    width: 90%;
    align-items: center;
  }
  .form-code {
    .ant-form-item-required {
      font-family: "Montserrat-Bold";
      color: #5673d6;
    }
  }
  .icon-left {
    margin-right: 10px;
  }
  .title-name {
    font-family: "Montserrat-Bold";
    color: #5673d6;
    text-transform: uppercase;
  }
  .content-body-container {
    .header {
      font-family: "Montserrat-Bold";
      color: #5673d6;
      text-align: center;
    }
    .title {
      font-family: "Montserrat-Bold";
    }
  }

  .div_hr_hozironal {
    height: auto;
    background-color: red;
    width: 0.1px;
  }
  .col-border {
    border-right: 1px solid #ccc;
    @media screen and(max-width: 768px) {
      border: 0;
    }
  }
  .group-cmnd {
    display: flex;
    flex-direction: row;
  }
  .btn-submit {
    display: flex;
    justify-content: center;
    font-family: "Montserrat-Bold";
  }
  .title-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .button-edit{
    margin-right: 10px;
  }
}

