.ThemMoiGiayToTM-container {
  .header {
    .header-left {
      text-transform: uppercase;
      font-family: "Montserrat-Bold";
      font-size: 14px;
      color: #5673d6;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .button-remove {
        margin-left: 10px;
      }
    }
    .left-out {
      margin-right: 5px;
    }
  }
  .content {
    margin-top: 10px;
    .content-title {
      font-family: "Montserrat-Bold";
      font-size: 14px;
      color: #5673d6;
      display: flex;
      flex-direction: row;
    }
    .content-title-icon {
      margin-left: 10px;
    }
  }
  .require {
    color: red;
  }
  .image-kd {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info-left-header {
    display: flex;
  }
  .action-dv {
    margin-left: 10px;
    font-family: "Montserrat-Bold";
    padding: 0px 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}

.btn-submit-tmgt {
  display: flex;
  justify-content: center;
  font-family: "Montserrat-Bold";
}

