.custom-image-container {
  margin-right: 20px;
  width: 158px;
  height: 158px;
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  .border-out {
    display: flex;
    flex-direction: column;
  }
  .header-file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .header-action{
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    flex-wrap: nowrap;
  }
  .image-in{
    padding: 0 5px;
  }
}

