$content-height: calc((100vh / 100) * 64);
> * {
  font-family: "Montserrat-Regular";
}
> p {
  text-align: justify;
}
.info_product {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  .ant-form-item {
    margin: 0;
  }

  &__code {
    width: 100%;
    height: 100%;
  }
  &__iconReset {
    background-color: #f0fcf8;
    width: 16px;
    height: 16px;
    border-radius: 32px;
    margin-right: 5px;
    border: 0;
    display: flex;
    justify-content: center;
  }
  &__iconClose {
    color: #5673d6;
    font-size: 14px;
  }
}
.btn_sp {
  display: flex;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  &__icon {
    display: none;
  }
  &__icon-search {
    font-size: 16px;
  }
}
.show_info_product_notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $content-height;

  img {
    width: 100%;
    height: 240px;
  }
  span {
    margin-top: 20px;
    color: #5673d6;
    font-family: "Montserrat-Bold";
    font-size: 20px;
    @media screen and (max-width: 776px) {
      font-size: 15px;
    }
  }
}
.show_info_product__notFound {
  display: flex;
  flex-direction: column;
}
.rowForm {
  padding-bottom: 20px;
}

// ..
.seekPage h2 {
  color: #5673d6;
  text-align: center;
}

.titleInfo {
  font-weight: bold;
  color: #5673d6;
}

.titleInfoSecond {
  margin-top: 20px;
  font-weight: bold;
  color: #5673d6;
}

.seekPage i {
  color: #5673d6;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 7px;
}

.seekPage button {
  background: #5673d6;
  border-radius: 99px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.verify_checked {
  margin-bottom: 10px;
  margin-left: 5px;
  text-decoration: underline;
  font-family: "NotoSans-Bold";
  text-decoration-color: #5673d6;
  font-size: 13px;
}
