.QuanLyChuyenNhuong-container {
    .header {
        .header-title {
            font-family: "Montserrat-Bold";
            text-transform: uppercase;
            color: #6b87e6;
        }
    }
}