.login-container {
  .text-welcome {
    text-align: center;
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 40px;
    color: #6b87e6;
  }
  .text-welcome2{
    font-family: "Montserrat-Regular";
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #767676;
  }
  display: flex;
  flex-direction: row;
  .login-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and(max-width: 1000px) {
      display: none;
    }
  }
  .login-right {
    width: 60%;
    padding: 0 8%;
    @media screen and(max-width: 1000px) {
      width: 100%;
      padding: 0;
    }

    display: flex;
    flex-direction: column;
  }
  .form-center {
    margin-top: 10vh;
  }
  .txt_input {
    border-radius: 5px;
    border: 4px solid #6b87e6;
  }
  .btn_signin {
    border-radius: 5px !important;
    background: #6b87e6;
    padding: 10px 0;
    font-family: "Montserrat-Bold";
    font-size: 40px;
  }
}

